<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
      <button mat-stroked-button color="primary">
        <mat-icon>school</mat-icon>
        Cadastro de professor</button>
		</div>
		<div class="col-md-4">
      <button mat-stroked-button color="primary">
        <mat-icon>menu_book</mat-icon>
        Cadastro de disciplina</button>
		</div>
		<div class="col-md-4">
      <button mat-stroked-button color="primary">
        <mat-icon>event_note</mat-icon>
        Cadastro de tipo de avaliação</button>
		</div>

		</div>
	</div>

  <div class="row pt-4">
		<div class="col-md-4">
      <button mat-stroked-button color="primary">
        <mat-icon>sticky_note_2</mat-icon>
        Cadastro de questões</button>
		</div>
		<div class="col-md-4">
      <button mat-stroked-button color="primary">
        <mat-icon>book_5</mat-icon>
        Cadastro de tipo de questão</button>
		</div>
		<div class="col-md-4">
      <button mat-stroked-button color="primary">
        <mat-icon>collections_bookmark</mat-icon>
        Cadastro de nível de questão</button>
	</div>
</div>
