<div class="container-fluid conteudo">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4 d-grid gap-2">
      <button mat-stroked-button color="primary" routerLink="../../app/professor">
        <mat-icon>school</mat-icon>
        Professor</button>
      <button mat-stroked-button color="primary" routerLink="../../app/disciplina">
        <mat-icon>menu_book</mat-icon>
        Disciplina</button>
        <button mat-stroked-button color="primary" routerLink="../../app/tipoAvaliacao">
          <mat-icon>event_note</mat-icon>
          Tipo de avaliação</button>
            <button mat-stroked-button color="primary" routerLink="../../app/tipoQuestao">
              <mat-icon>book_5</mat-icon>
              Tipo de questão</button>
              <button mat-stroked-button color="primary">
                <mat-icon>collections_bookmark</mat-icon>
                Nível de questão</button>
                 <button mat-stroked-button color="primary">
            <mat-icon>sticky_note_2</mat-icon>
            Questão</button>
		</div>
		<div class="col-md-4">
		</div>
		</div>
	</div>

