<div class="container-fluid conteudo">
  <div class="row">
		<div class="col-md-12">
      <a mat-raised-button routerLink="../../app/professor" class="space-between-cards">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle>Professor</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-icon class="icone-cadastro">school</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
      <a mat-raised-button routerLink="../../app/disciplina" class="space-between-cards">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle>Disciplina</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-icon class="icone-cadastro">menu_book</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
      <a mat-raised-button routerLink="../../app/assunto" class="space-between-cards">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle>Assunto</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-icon class="icone-cadastro">topic</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
      <a mat-raised-button routerLink="../../app/tipoAvaliacao" class="space-between-cards">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle>Tipo de avaliação</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-icon class="icone-cadastro">event_note</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
      <a mat-raised-button routerLink="../../app/tipoQuestao" class="space-between-cards">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle>Tipo de questão</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-icon class="icone-cadastro">book_5</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
      <a mat-raised-button routerLink="../../app/nivelQuestao" class="space-between-cards">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle>Nível de questão</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-icon class="icone-cadastro">collections_bookmark</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
      <a mat-raised-button  routerLink="../../app/questao" class="space-between-cards">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle>Questão</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-icon class="icone-cadastro">sticky_note_2</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>

		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
		</div>
		<!-- <div class="col-md-4 ">


      <button mat-stroked-button color="primary" routerLink="../../app/professor">
        <mat-icon>school</mat-icon>
        Professor</button>
      <button mat-stroked-button color="primary" routerLink="../../app/disciplina">
        <mat-icon>menu_book</mat-icon>
        Disciplina</button>
        <button mat-stroked-button color="primary" routerLink="../../app/tipoAvaliacao">
          <mat-icon>event_note</mat-icon>
          Tipo de avaliação</button>
            <button mat-stroked-button color="primary" routerLink="../../app/tipoQuestao">
              <mat-icon>book_5</mat-icon>
              Tipo de questão</button>
              <button mat-stroked-button color="primary" routerLink="../../app/nivelQuestao">
                <mat-icon>collections_bookmark</mat-icon>
                Nível de questão</button>
                 <button mat-stroked-button color="primary" routerLink="../../app/questao">
            <mat-icon>sticky_note_2</mat-icon>
            Questão</button>
		</div> -->
		<div class="col-md-4">
		</div>
		</div>
	</div>

