.spacer {
  flex: 1 1 auto;
}

.header {
  display: flex;
  padding: 0 0;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.header .logo {
  max-height: 75px;
}

.header .title {
  margin: 0;
  position: absolute;
  left: 3%;
  text-transform: capitalize;
  font-size: 4.0vh;
  color: white;
  font-style: italic;
}

.title {
  padding-left: 1%;
}
