.app-body {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

}

.app-navbar {
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  flex-grow: 0;
}
