<mat-toolbar color="primary" class="header mat-elevation-z6">
  <button  mat-icon-button (click)="drawer.toggle()">
  <mat-icon>menu</mat-icon>
  </button>
  <span>SIGAA</span>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4 flex-item">
        <span>{{nome}}</span>
      </div>
    </div>
  </div>
  </mat-toolbar>

<div class="content">
  <mat-drawer-container class="example-container" autosize [hasBackdrop]="'false'">
    <mat-drawer #drawer [mode]="'side'" class="example-sidenav" opened>
      <mat-nav-list>

        <div *ngIf="!isLogged_in">
          <mat-list-item   routerLink="login">
            <mat-icon>login</mat-icon>
            <span>Entrar</span>
          </mat-list-item>
        </div>

        <mat-list-item routerLink="home" >
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </mat-list-item>

        <div *ngIf="isLogged_in">
          <mat-list-item routerLink="app/cadastro" >
            <mat-icon>person_add</mat-icon>
            <span>Cadastro</span>
          </mat-list-item>
          <mat-list-item routerLink="/"   (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </mat-list-item>
        </div>








      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
