.footer-container{
  bottom:0;
  position: fixed;

}

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr) 3fr repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .div1 { grid-area: 1 / 7 / 2 / 8; text-align: center; font-size: 14px;}
