
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
      <form [formGroup]="formGroupLogin" class="form">
        <h4 mat-dialog-title>Acesso</h4>
        <mat-dialog-content>
          <mat-form-field appearance="outline" color="primary" class="botoes-login">
            <mat-label>CPF</mat-label>
            <input type="text" matInput placeholder="Sem pontos. Ex: 99999999999" formControlName="cpf" required>
            <mat-error *ngIf="cpf.invalid">{{getCpfErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" color="primary" class="botoes-login">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Senha"  formControlName="password" required>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>

        </mat-dialog-content>
        <mat-dialog-actions align="end" class="botao-login">
          <button mat-raised-button color="primary" (click)="login()" [disabled]="!formGroupLogin.valid" >Login</button>
        </mat-dialog-actions>
        </form>
        <div class="loader" *ngIf="exibirSpinner">
          <mat-spinner color="primary"></mat-spinner>
        </div>
    </div>
		<div class="col-md-4">
		</div>
	</div>
</div>
